{% extends "base.html" %}

{% block title %} Add New Scan {% endblock %}

{% block css_links %}<link href="/static/css/dashboard.css" type="text/css" rel=stylesheet>
{% endblock %}

{% block body_content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="dashboard_area">

                    <!-- Heading! -->
                    <h1 class="page-header">Add a New Scan</h1>
					{% if success == 'True' %}
						<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><span class="glyphicon glyphicon-floppy-remove"></span><strong> Error!</strong> <br>{{ success_msg }}
						</div>
					
					{% else %}
					<div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                     <label><font color="">Change Password</font></label>
                                </h3>
                            </div>
							<div class="panel-body">
							<form method="post">
							  {% csrf_token %}
							  {{ form }}
							  <button type="submit" class="btn btn-default btn-primary">Save changes</button>
							</form>
						
                    		</div>
                	</div>
					{% endif %}
</div>
        
{% endblock %}
